{% extends '_base.html' %}
{% load static %}

{% block addcss %}
<link href="{% static 'css/module-css/event-details.css' %}" rel="stylesheet">
{% endblock addcss %}

{% block content %}
<!-- page-title -->
<section class="page-title centred pt_190 pb_190">
    <div class="bg-layer" style="background-image: url(static/images/background/page-title.jpg);"></div>
    <div class="auto-container">
        <div class="content-box">
            <h1>Events Details</h1>
            <ul class="bread-crumb clearfix">
                <li><a href="index-2.html">Home</a></li>
                <li>Events Details</li>
            </ul>
        </div>
    </div>
</section>
<!-- page-title end -->


<!-- event-details -->
<section class="event-details pt_150 pb_150">
    <div class="auto-container">
        <figure class="big-image mb_70"><img src="{% static 'images/resource/event-12.jpg' %}" alt=""></figure>
        <div class="row clearfix">
            <div class="col-lg-8 col-md-12 col-sm-12 content-side">
                <div class="event-details-content mr_20">
                    <div class="content-one">
                        <ul class="post-info">
                            <li><i class="icon-17"></i>22 August</li>
                            <li><i class="icon-3"></i>6391 Elgin St. Celina</li>
                        </ul>
                        <h2>Golf for Beginners Practice and Learning</h2>
                        <div class="text-box mb_60">
                            <p>Welcome to our vibrant and welcoming golf club, where every member is part of our
                                close-knit community. Whether you're a seasoned golfer or just starting out, our club is
                                the perfect place to hone your skills, enjoy the game, and connect with fellow golf
                                enthusiasts.</p>
                            <p>At our club, we believe in creating a friendly and supportive environment that fosters
                                camaraderie and sportsmanship. Our beautifully maintained course offers challenging yet
                                enjoyable play for golfers of all levels, with stunning landscapes and well-designed
                                fairways that make every round a delight.</p>
                        </div>
                    </div>
                    <div class="content-two">
                        <div class="text-box mb_60">
                            <h3>Activities and Features:</h3>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                                suffered alteration in some form, by injected humour, or randomised words which don’t
                                look even slightly believable. If you are going to use a passage of Lorem Ipsum, you
                                need to be sure there isn’t anything embarrassing hidden in the middle of text.</p>
                            <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as
                                necessary, making this the first true generator on the Internet. It uses a dictionary of
                                over 200 Latin words, combined with a handful of model sentence structures, to generate
                                Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free
                                from repetition, injected humour.</p>
                        </div>
                        <div class="map-inner">
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d55945.16225505631!2d-73.90847969206546!3d40.66490264739892!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew%20York%2C%20NY%2C%20USA!5e0!3m2!1sen!2sbd!4v1601263396347!5m2!1sen!2sbd"
                                width="100%" height="500" frameborder="0" style="border:0; width: 100%"
                                allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 sidebar-side">
                <div class="event-sidebar">
                    <div class="event-info sidebar-widget">
                        <div class="widget-title">
                            <h3>Event Details</h3>
                        </div>
                        <ul class="info-list clearfix">
                            <li><span>Organizer :</span>Devid Rock</li>
                            <li><span>Start Date :</span>July 23, 2025</li>
                            <li><span>End Date :</span>July 25, 2025</li>
                            <li><span>Time :</span>12:00 PM</li>
                            <li><span>Cost :</span>R600</li>
                        </ul>
                    </div>
                    <div class="event-venue sidebar-widget">
                        <div class="widget-title">
                            <h3>Event Venue</h3>
                        </div>
                        <ul class="info-list clearfix">
                            <li><span>Venue :</span>Colf Club</li>
                            <li><span>Address :</span>12, Victoria St, Australia</li>
                            <li><span>E-mail :</span><a href="mailto:colfexample@.com">colfexample@.com</a></li>
                            <li><span>Phone :</span><a href="tel:142585477592">+(1425) 8547-7592</a></li>
                            <li><span>Website :</span><a href="event-details.html">https://example.com</a></li>
                        </ul>
                    </div>
                    <div class="form-inner">
                        <div class="widget-title">
                            <h3>Interest? Fill The Event Form Now</h3>
                        </div>
                        <div>
                            
                            <div class="form-group message-btn pt_20">
                                <button type="submit" class="theme-btn btn-one">Get Form now</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- event-details end -->


<!-- cta-section -->
<section class="cta-section alternat-2 centred bg-color-2 pt_140 pb_150">
    <div class="pattern-layer" style="background-image: url(static/images/shape/shape-14.png);"></div>
    <div class="auto-container">
        <div class="content-box">
            <div class="sec-title light mb_40">
                <span class="sub-title">our Facilities</span>
                <h2>Take Your Game To The <br />Next Level.</h2>
            </div>
            <div class="btn-box">
                <a href="{% url 'accounts:membership' %}" class="theme-btn btn-one">become a member</a>
                <a href="{% url 'home:contact' %}" class="theme-btn btn-two">Contact Us</a>
            </div>
        </div>
    </div>
</section>
<!-- cta-section end -->
{% endblock content %}