{% extends '_base.html' %}
{% load static %}

{% block addcss %}
<link href="{% static 'css/module-css/about.css' %}" rel="stylesheet">
<link href="{% static 'css/module-css/team.css' %}" rel="stylesheet">
<link href="{% static 'css/module-css/history.css' %}" rel="stylesheet">
<link href="{% static 'css/module-css/testimonial.css' %}" rel="stylesheet">
<link href="{% static 'css/module-css/fluid.css' %}" rel="stylesheet">
<link href="{% static 'css/module-css/video.css' %}" rel="stylesheet">
{% endblock addcss %}

{% block content %}
<!-- page-title -->
<section class="page-title centred pt_190 pb_190">
    <div class="bg-layer" style="background-image: url(static/images/background/page-title.jpg);"></div>
    <div class="auto-container">
        <div class="content-box">
            <h1>About CT Black Pro</h1>
            <ul class="bread-crumb clearfix">
                <li><a href="{% url 'home:index' %}">Home</a></li>
                <li>About</li>
            </ul>
        </div>
    </div>
</section>
<!-- page-title end -->


<!-- about-style-three -->
<section class="about-style-three pt_150">
    <div class="auto-container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                <div class="image_block_three">
                    <div class="image-box pl_110 pr_80">
                        <figure class="image"><img src="{% static 'images/resource/men-1.png' %}" alt=""></figure>
                        <div class="experience-box">
                            <div class="inner">
                                <h2>20</h2>
                                <span>Years of <br />expericence</span>
                            </div>
                        </div>
                        <div class="image-shape">
                            <div class="shape-1 z_1"></div>
                            <div class="shape-2" style="background-image: url(static/images/shape/shape-1.png);"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                <div class="content_block_four">
                    <div class="content-box">
                        <div class="sec-title mb_25">
                            <span class="sub-title">About CT Black Pro</span>
                            <h2>Immerse yourself in a luxury golf outing</h2>
                        </div>
                        <div class="tabs-box">
                            <div class="tab-btn-box">
                                <ul class="tab-btns tab-buttons">
                                    <li class="tab-btn active-btn" data-tab="#tab-1">About</li>
                                    <li class="tab-btn" data-tab="#tab-2">Mission</li>
                                    <li class="tab-btn" data-tab="#tab-3">Club Documents</li>
                                </ul>
                            </div>
                            <div class="tabs-content">
                                <div class="tab active-tab" id="tab-1">
                                    <div class="inner-box">
                                        <p>Lorem ipsum dolor sit amet consectetur. Nam quis bibendum lacinia. Quisque
                                            porttitor tortor blandit nunc sed ac id. Mattis in nunc libero viverra.
                                            Consectetur leo nibh ac at amet.</p>
                                        <p>Nam quis bibendum lacinia. Quisque porttitor tortor blandit nunc sed ac id.
                                        </p>
                                        <ul class="list-style-one pb_25 clearfix">
                                            <li><i class="fas fa-check-circle"></i>Free Guide Book</li>
                                            <li><i class="fas fa-check-circle"></i>24/7 Full Support</li>
                                            <li><i class="fas fa-check-circle"></i>Group Membership Level</li>
                                        </ul>
                                        <div class="btn-box"><a href="index-4.html" class="theme-btn btn-one">Learn
                                                More</a></div>
                                    </div>
                                </div>
                                <div class="tab" id="tab-2">
                                    <div class="inner-box">
                                        <p>Lorem ipsum dolor sit amet consectetur. Nam quis bibendum lacinia. Quisque
                                            porttitor tortor blandit nunc sed ac id. Mattis in nunc libero viverra.
                                            Consectetur leo nibh ac at amet.</p>
                                        <p>Nam quis bibendum lacinia. Quisque porttitor tortor blandit nunc sed ac id.
                                        </p>
                                        <ul class="list-style-one pb_25 clearfix">
                                            <li><i class="fas fa-check-circle"></i>Free Guide Book</li>
                                            <li><i class="fas fa-check-circle"></i>24/7 Full Support</li>
                                            <li><i class="fas fa-check-circle"></i>Group Membership Level</li>
                                        </ul>
                                        <div class="btn-box"><a href="index-4.html" class="theme-btn btn-one">Learn
                                                More</a></div>
                                    </div>
                                </div>
                                
                                <div class="tab" id="tab-3">
                                    <div class="inner-box">
                                        <p>Lorem ipsum dolor sit amet consectetur. Nam quis bibendum lacinia. Quisque
                                            porttitor tortor blandit nunc sed ac id. Mattis in nunc libero viverra.
                                            Consectetur leo nibh ac at amet.</p>
                                        <p>Nam quis bibendum lacinia. Quisque porttitor tortor blandit nunc sed ac id.
                                        </p>
                                        <ul class="list-style-one pb_25 clearfix">
                                            <li><i class="fas fa-check-circle"></i>Memorandum Of Incorporation</li>
                                            <li><i class="fas fa-check-circle"></i>Access Control</li>
                                            <li><i class="fas fa-check-circle"></i>Club Policy</li>
                                        </ul>
                                        <div class="btn-box"><a href="index-4.html" class="theme-btn btn-one">Learn
                                                More</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about-style-three end -->


<!-- funfact-style-two -->
<section class="funfact-style-two pt_140 pb_100">
    <div class="auto-container">
        <div class="inner-container">
            <div class="funfact-block-two">
                <div class="inner-box">
                    <div class="count-outer">
                        <span class="odometer" data-count="20">00</span><span class="symble">+</span>
                    </div>
                    <p>Tatal Golf Holes</p>
                </div>
            </div>
            <div class="funfact-block-two">
                <div class="inner-box">
                    <div class="count-outer">
                        <span class="odometer" data-count="5">00</span><span class="symble">+</span>
                    </div>
                    <p>Total Pro Members</p>
                </div>
            </div>
            <div class="funfact-block-two">
                <div class="inner-box">
                    <div class="count-outer">
                        <span class="odometer" data-count="120">00</span><span class="symble">+</span>
                    </div>
                    <p>Total Golf Areas</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- funfact-style-two end -->


<!-- history-section -->
<section class="history-section pt_140 pb_150">
    <div class="auto-container">
        <div class="sec-title centred mb_60">
            <span class="sub-title">Our Timeline</span>
            <h2>History Timeline</h2>
        </div>
        <div class="inner-container p_relative pt_70">
            <div class="inner-box">
                <div class="row clearfix">
                    <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                        <div class="content-box align-3 mr_130">
                            <span class="year">1980 - 1981</span>
                            <h2>CT Black Pro, which was founded in May 1980</h2>
                            <p>Lorem ipsum dolor sit amet consectur. Nam quis bibendum lacinia quisque porttitor tortor
                                blandit nunc sed ac id. Mattis in nunc libero viverra. Consectetur leo nibh ac at amet.
                            </p>
                            
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                        <div class="image-box ml_130 pr_20 pb_20">
                            <figure class="image image-hov-two"><img src="{% static 'images/resource/history-1.jpg' %}" alt="">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
            <div class="inner-box">
                <div class="row clearfix">
                    <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                        <div class="image-box mr_130 pl_20 pb_20">
                            <figure class="image image-hov-two"><img src="{% static 'images/resource/history-2.jpg' %}" alt="">
                            </figure>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                        <div class="content-box ml_130">
                            <span class="year">1986 - 1987</span>
                            <h2>Inception of the academy took place in May, 1986</h2>
                            <p>Lorem ipsum dolor sit amet consectur. Nam quis bibendum lacinia quisque porttitor tortor
                                blandit nunc sed ac id. Mattis in nunc libero viverra. Consectetur leo nibh ac at amet.
                            </p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- history-section end -->


<!-- chooseus-section -->
<section class="chooseus-section pt_150 pb_140 bg-color-1">
    <div class="auto-container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                <div class="image-box mr_30">
                    <div class="image-shape">
                        <div class="shape-1 z_1"></div>
                        <div class="shape-2" style="background-image: url(static/images/shape/shape-1.png);"></div>
                    </div>
                    <figure class="image"><img src="{% static 'images/resource/chooseus-1.png' %}" alt=""></figure>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                <div class="content_block_two">
                    <div class="content-box ml_30 mr_60">
                        <div class="sec-title mb_30">
                            <span class="sub-title">Why choose us</span>
                            <h2>Behind the Curtain with Renowned Golfers</h2>
                        </div>
                        <div class="text-box mb_30">
                            <p>Lorem ipsum dolor sit amet consectetur. Nam quis bibendum lacinia eu id in. Quisque
                                porttitor tortor blandit nunc.</p>
                        </div>
                        <div class="inner-box">
                            <div class="single-item">
                                <div class="icon-box"><i class="icon-15"></i></div>
                                <h2>100% Success Rate</h2>
                                <p>Amet minim mollit no duis deserut lamo sit enim.</p>
                            </div>
                            <div class="single-item">
                                <div class="icon-box"><i class="icon-16"></i></div>
                                <h2>The Exclusive Offers</h2>
                                <p>Amet minim mollit no duis deserut lamo sit enim.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- chooseus-section end -->


<!-- team-section -->
<section class="team-section pt_140 pb_120">
    <div class="auto-container">
        <div class="sec-title centred mb_55">
            <span class="sub-title">OUR Team</span>
            <h2>We provide top-tier Team <br />to teach you golf</h2>
        </div>
        <div class="row clearfix">
            <div class="col-lg-3 col-md-6 col-sm-12 team-block">
                <div class="team-block-one">
                    <div class="inner-box">
                        <figure class="image-box"><img src="{% static 'images/team/team-1.jpg' %}" alt=""></figure>
                        <div class="lower-content">
                            <h3><a href="index-4.html">Robert Fox</a></h3>
                            <span class="designation">Sr. Golf Coach</span>
                            <ul class="social-links clearfix">
                                <li><a href="index-4.html"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="index-4.html"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="index-4.html"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="index-4.html"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 team-block">
                <div class="team-block-one">
                    <div class="inner-box">
                        <figure class="image-box"><img src="{% static 'images/team/team-2.jpg' %}" alt=""></figure>
                        <div class="lower-content">
                            <h3><a href="index-4.html">Robert Fox</a></h3>
                            <span class="designation">Sr. Golf Coach</span>
                            <ul class="social-links clearfix">
                                <li><a href="index-4.html"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="index-4.html"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="index-4.html"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="index-4.html"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 team-block">
                <div class="team-block-one">
                    <div class="inner-box">
                        <figure class="image-box"><img src="{% static 'images/team/team-3.jpg' %}" alt=""></figure>
                        <div class="lower-content">
                            <h3><a href="index-4.html">Robert Fox</a></h3>
                            <span class="designation">Sr. Golf Coach</span>
                            <ul class="social-links clearfix">
                                <li><a href="index-4.html"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="index-4.html"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="index-4.html"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="index-4.html"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 team-block">
                <div class="team-block-one">
                    <div class="inner-box">
                        <figure class="image-box"><img src="{% static 'images/team/team-4.jpg' %}" alt=""></figure>
                        <div class="lower-content">
                            <h3><a href="index-4.html">Robert Fox</a></h3>
                            <span class="designation">Sr. Golf Coach</span>
                            <ul class="social-links clearfix">
                                <li><a href="index-4.html"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="index-4.html"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="index-4.html"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="index-4.html"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- team-section end -->


<!-- cta-section -->
<section class="cta-section alternat-2 centred bg-color-2 pt_140 pb_150 mb_150">
    <div class="pattern-layer" style="background-image: url(static/images/shape/shape-14.png);"></div>
    <div class="auto-container">
        <div class="content-box">
            <div class="sec-title light mb_40">
                <span class="sub-title">our Facilities</span>
                <h2>Take Your Game To The <br />Next Level.</h2>
            </div>
            <div class="btn-box">
                <a href="{% url 'accounts:membership' %}" class="theme-btn btn-one">become a member</a>
                <a href="{% url 'home:contact' %}" class="theme-btn btn-two">Contact Us</a>
            </div>
        </div>
    </div>
</section>
<!-- cta-section end -->
{% endblock content %}