{% extends '_base.html' %}
{% load static %}

{% block seo %}
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="CT Black Pro">
<!-- Page Title -->
<title>About CT Black Pro</title>
{% endblock seo %}

{% block addcss %}
<link href="{% static 'css/module-css/about.css' %}" rel="stylesheet">
<link href="{% static 'css/module-css/team.css' %}" rel="stylesheet">
<link href="{% static 'css/module-css/history.css' %}" rel="stylesheet">
<link href="{% static 'css/module-css/testimonial.css' %}" rel="stylesheet">
<link href="{% static 'css/module-css/fluid.css' %}" rel="stylesheet">
<link href="{% static 'css/module-css/contact.css' %}" rel="stylesheet">
{% endblock addcss %}

{% block content %}
<!-- page-title -->
<section class="page-title centred pt_190 pb_190">
    <div class="bg-layer" style="background-image: url(static/images/background/page-title.jpg);"></div>
    <div class="auto-container">
        <div class="content-box">
            <h1>About CT Black Pro</h1>
            <ul class="bread-crumb clearfix">
                <li><a href="{% url 'home:index' %}">Home</a></li>
                <li>About</li>
            </ul>
        </div>
    </div>
</section>
<!-- page-title end -->


<!-- about-style-three -->
<section class="about-style-three pt_150">
    <div class="auto-container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                <div class="image_block_three">
                    <div class="image-box pl_110 pr_80">
                        <figure class="image"><img src="{% static 'images/resource/men-1.png' %}" alt=""></figure>
                        <div class="experience-box">
                            <div class="inner">
                                <h2>20</h2>
                                <span>Years of <br />expericence</span>
                            </div>
                        </div>
                        <div class="image-shape">
                            <div class="shape-1 z_1"></div>
                            <div class="shape-2" style="background-image: url(static/images/shape/shape-1.png);"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                <div class="content_block_four">
                    <div class="content-box">
                        <div class="sec-title mb_25">
                            <span class="sub-title">About CT Black Pro</span>
                            <h2>Immerse yourself in a luxury golf outing</h2>
                        </div>
                        <div class="tabs-box">
                            <div class="tab-btn-box">
                                <ul class="tab-btns tab-buttons">
                                    <li class="tab-btn active-btn" data-tab="#tab-1">About</li>
                                    <li class="tab-btn" data-tab="#tab-2">Mission</li>
                                    
                                </ul>
                            </div>
                            <div class="tabs-content">
                                <div class="tab active-tab" id="tab-1">
                                    <div class="inner-box">
                                        <p>Established in Cape Town in 2010, CT Black Pro Golf Club is more than a sporting institution—it's a vibrant community
                                        dedicated to excellence, empowerment, and transformation through golf.</p>
                                        <p>We provide a dynamic platform for Black golfers to thrive, connect, and lead, while fostering a culture of pride,
                                        professionalism, and purpose on and off the course.
                                        </p>
                                        <ul class="list-style-one pb_25 clearfix">
                                            <li><i class="fas fa-check-circle"></i>Inclusive Environment</li>
                                            <li><i class="fas fa-check-circle"></i>Professional Development</li>
                                            <li><i class="fas fa-check-circle"></i>Community Impact</li>
                                            <li><i class="fas fa-check-circle"></i>Legacy Building</li>
                                        </ul>
                                        
                                    </div>
                                </div>
                                <div class="tab" id="tab-2">
                                    <div class="inner-box">
                                        <p>To advance Black excellence in golf by creating inclusive opportunities, nurturing talent, and building a legacy of
                                        pride, professionalism, and community leadership.</p>
                                        
                                    </div>
                                </div>
                                
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about-style-three end -->


<!-- funfact-style-two -->
<section class="funfact-style-two pt_140 pb_100">
    <div class="auto-container">
        <div class="inner-container">
            <div class="funfact-block-two">
                <div class="inner-box">
                    <div class="count-outer">
                        <span class="odometer" data-count="20">00</span><span class="symble">+</span>
                    </div>
                    <p>Tatal Golf Holes</p>
                </div>
            </div>
            <div class="funfact-block-two">
                <div class="inner-box">
                    <div class="count-outer">
                        <span class="odometer" data-count="5">00</span><span class="symble">+</span>
                    </div>
                    <p>Total Pro Members</p>
                </div>
            </div>
            <div class="funfact-block-two">
                <div class="inner-box">
                    <div class="count-outer">
                        <span class="odometer" data-count="120">00</span><span class="symble">+</span>
                    </div>
                    <p>Total Golf Areas</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- funfact-style-two end -->





<!-- chooseus-section -->
<section class="chooseus-section pt_150 pb_140 bg-color-1">
    <div class="auto-container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                <div class="image-box mr_30">
                    <div class="image-shape">
                        <div class="shape-1 z_1"></div>
                        <div class="shape-2" style="background-image: url(static/images/shape/shape-1.png);"></div>
                    </div>
                    <figure class="image"><img src="{% static 'images/resource/chooseus-1.png' %}" alt=""></figure>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                <div class="content_block_two">
                    <div class="content-box ml_30 mr_60">
                        <div class="sec-title mb_30">
                            <span class="sub-title">Why choose us</span>
                            <h2>“Redefining the Game. Empowering the Player.</h2>
                        </div>
                        <div class="text-box mb_30">
                            <p>At CT Black Pro Golf Club, we believe golf is more than a sport—it's a platform for transformation. Our club offers a
                            unique blend of professional growth, cultural pride, and community connection, tailored for those who aspire to lead
                            both on and off the course. With expert mentorship, inclusive values, and a legacy-driven spirit, we're not just shaping
                            golfers—we're shaping changemakers.</p>
                        </div>
                        <div class="inner-box">
                            <div class="single-item">
                                <div class="icon-box"><i class="far fa-users"></i></div>
                                <h2>Inclusive Community</h2>
                                <p>Connect with golfers from diverse backgrounds in a space that celebrates unity and pride.</p>
                            </div>
                            <div class="single-item">
                                <div class="icon-box"><i class="icon-16"></i></div>
                                <h2>Exclusive Member Offers</h2>
                                <p>Enjoy special discounts on event tickets, tee times, and more—just for being part of the club.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- chooseus-section end -->

<section class="contact-section pt_150">
    <div class="auto-container">
        <div class="row clearfix">
            <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                <div class="image_block_four">
                    <div class="image-box mr_30 pr_110">
                        <figure class="image image-hov-one"><img src="{% static 'images/resource/contact-1.jpg' %}"
                                alt="">
                        </figure>
                        <div class="link-box">
                            <a href="https://www.google.com/maps/@23.1753974,89.6128769,13z?entry=ttu" target="_blank">
                                <img src="{% static 'images/icons/icon-1.png' %}" alt="">
                                <span>Locate Our <br />Address</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                <div class="content_block_six">
                    <div class="content-box ml_30">
                        <div class="sec-title mb_60">
                            <span class="sub-title">Join Club</span>
                            <h2>Love To Hear From You Get In Touch!</h2>
                        </div>
                        <div class="form-inner">
                            <form method="post" action="{% url 'memberships:membership' %}">
                                {% csrf_token %}
                                <div class="row clearfix">
                                    <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                        <input type="text" name="name" placeholder="Your name" required>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                        <input type="email" name="from_email" placeholder="Email" required>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                        <input type="text" name="phone" placeholder="Phone" required>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                        <textarea name="message" placeholder="Message"></textarea>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                        <button type="submit" class="theme-btn btn-one">Send us message</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>>

{% if members.count > 0 %}
<!-- team-section -->
<section class="team-section pt_140 pb_120">
    <div class="auto-container">
        <div class="sec-title centred mb_55">
            <span class="sub-title">Our Team</span>
            <h2>We provide top-tier Team <br />to teach you golf</h2>
        </div>
        <div class="row clearfix">
            
            {% for member in members %}
                
            
                
            <div class="col-lg-3 col-md-6 col-sm-12 team-block">
                <div class="team-block-one">
                    <div class="inner-box">
                        <figure class="image-box tw:h-64 tw:w-64 tw:overflow-hidden tw:object-center tw:object-cover"><img src="{% if member.image %}{{member.image.url}}{% else %}{% static 'images/no-profile-image.png' %}{% endif %}" alt="{{member.full_names}}"></figure>
                        <div class="lower-content">
                            <h3><a>{{member.full_names}}</a></h3>
                            <span class="designation">{{member.role}}</span>
                            <ul class="social-links clearfix">
                                <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href=""><i class="fab fa-twitter"></i></a></li>
                                <li><a href=""><i class="fab fa-instagram"></i></a></li>
                                <li><a href=""><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- team-section end -->
{% endif %}

<!-- cta-section -->
<section class="cta-section alternat-2 centred bg-color-2 pt_140 pb_150 mb_150">
    <div class="pattern-layer" style="background-image: url(static/images/shape/shape-14.png);"></div>
    <div class="auto-container">
        <div class="content-box">
            <div class="sec-title light mb_40">
                <span class="sub-title">our Facilities</span>
                <h2>Take Your Game To The <br />Next Level.</h2>
            </div>
            <div class="btn-box">
                <a href="{% url 'memberships:membership' %}" class="theme-btn btn-one">become a member</a>
                <a href="{% url 'home:contact' %}" class="theme-btn btn-two">Contact Us</a>
            </div>
        </div>
    </div>
</section>
<!-- cta-section end -->
{% endblock content %}