{% extends '_base.html' %}
{% load static %}

{% block seo %}
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="CT Black Pro">
<!-- Page Title -->
<title>About CT Black Pro</title>
{% endblock seo %}

{% block addcss %}
<link href="{% static 'css/module-css/about.css' %}" rel="stylesheet">
<link href="{% static 'css/module-css/team.css' %}" rel="stylesheet">
<link href="{% static 'css/module-css/history.css' %}" rel="stylesheet">
<link href="{% static 'css/module-css/testimonial.css' %}" rel="stylesheet">
<link href="{% static 'css/module-css/fluid.css' %}" rel="stylesheet">
<link href="{% static 'css/module-css/contact.css' %}" rel="stylesheet">
{% endblock addcss %}

{% block content %}
<!-- page-title -->
<section class="page-title">
    <!-- banner section -->
    <div style="background-image: url(../../static/images/background/page-title.jpg);"
        class="w-full bg-layer bg-no-repeat bg-cover bg-center relative z-0 after:w-full after:h-full after:absolute after:top-0 after:left-0  after:bg-opacity-30 after:-z-1">
        <div class="container py-110px ">
            <h1 class="text-2xl  sm:text-3xl md:text-26px lg:text-3xl xl:text-4xl font-bold text-white mb-15px">
                <span class="leading-1.3 md:leading-1.3 lg:leading-1.3 xl:leading-1.3">About CT Black Pro
                </span>
            </h1>
            <ul class="breadcrumb flex gap-30px items-center text-sm lg:text-base font-bold pt-4">
                <li class="home relative leading-1.8 lg:leading-1.8">
                    <a href="{% url 'home:index' %}"><i class="fas fa-home text-secondary-color"></i> Home</a>
                </li>
                <li class="leading-1.8 lg:leading-1.8 text-white">

                    About Us

                </li>
            </ul>
        </div>
    </div>
</section>
<!-- page-title end -->

<section>
    <div class="container pt-30 pb-[105px]">
        <div class="grid grid-cols-1 lg:grid-cols-12 lg:gap-x-30px">
            <!-- details -->
            <div class="lg:col-start-1 lg:col-span-8">
                <!-- thumbnail -->
                <div class="mb-10">
                    <img src="{% static 'images/resource/about-4.jpg' %}" alt="About Ct Black Pros" class="w-full">
                </div>

                <!-- description -->
                <div>
                    <h4 class="text-2xl md:text-26px lg:text-3xl xl:text-4xl font-bold text-heading-color mb-15px">
                        <span class="leading-1.3 lg:leading-1.3 xl:leading-1.3">Immerse yourself in a luxury golf outing</span>
                    </h4>
                    <p class="text-sm">
                        <span class="leading-1.8"><i class="flaticon-pin text-secondary-color"></i> Cape Town, WC, RSA</span>
                    </p>
                    <!-- Description -->
                    <h4
                        class="text-22px font-semibold leading-1.3 pl-10px border-l-2 border-secondary-color text-heading-color my-30px">
                        About Us
                    </h4>
                    <p class="text-sm lg:text-base my-5">
                        <span class="leading-1.8 lg:leading-1.8">Founded in Cape Town in 2010, CT Black Pro Golf Club stands as a proud symbol of excellence, inclusion, and community in
                        South African golf. Dedicated to nurturing talent and celebrating diversity, the club offers a welcoming space for
                        golfers of all backgrounds to refine their skills, connect through sport, and champion the spirit of unity on the
                        fairway. With a commitment to professionalism and empowerment, CT Black Pro continues to shape the future of golf—one
                        swing at a time.</span>
                    </p>
                
                    <p class="text-sm lg:text-base my-5">
                        <span class="leading-1.8 lg:leading-1.8">We provide a dynamic platform for Black golfers to thrive, connect, and lead, while fostering a culture of pride,
                        professionalism, and purpose on and off the course.</span>
                    </p>
                    <!-- Property Detail -->
                    <h4
                        class="text-22px font-semibold leading-1.3 pl-10px border-l-2 border-secondary-color text-heading-color my-30px">
                        Vision And Mission
                    </h4>
                    <p class="text-sm lg:text-base my-5">
                        <span class="leading-1.8 lg:leading-1.8">To advance Black excellence in golf by creating inclusive opportunities, nurturing talent, and building a legacy of
                        pride, professionalism, and community leadership.</span>
                    </p>
                    
                    <h4
                        class="text-22px font-semibold leading-1.3 pl-10px border-l-2 border-secondary-color text-heading-color my-30px">
                        From Our Gallery
                    </h4>
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-30px mb-60px">
                        <div class="md:cols-start-1 md:col-span-1 leading-1">
                            <a href="{% static 'images/resource/about-4.jpg' %}" class="glightbox w-full leading-1 md:h-full">
                                <img src="{% static 'images/resource/about-4.jpg' %}" alt="" class="w-full md:h-full">
                            </a>
                        </div>
                
                        <div class="md:cols-start-1 md:col-span-1 md:row-start-2 md:row-sapn-1 leading-1">
                            <a href="{% static 'images/resource/about-3.jpg' %}" class="glightbox w-full leading-1">
                                <img src="{% static 'images/resource/about-3.jpg' %}" alt="" class="w-full">
                            </a>
                        </div>
                        <div class="md:cols-start-2 md:col-span-1 md:row-start-1 md:row-span-2 leading-1">
                            <a href="{% static 'images/resource/contact-1.jpg' %}" class="glightbox w-full leading-1 md:h-full" data-width="56vh">
                                <img src="{% static 'images/resource/contact-1.jpg' %}" alt="" class="w-full md:h-full">
                            </a>
                        </div>
                    </div>
                
                    <!-- Amenities -->
                    <h4
                        class="text-22px font-semibold leading-1.3 pl-10px border-l-2 border-secondary-color text-heading-color my-30px">
                        Why Choose Us?
                    </h4>
                    <p class="text-sm lg:text-base my-5">
                        <span class="leading-1.8 lg:leading-1.8">At CT Black Pro Golf Club, we believe golf is more than a sport—it's a platform for transformation. Our club offers a
                        unique blend of professional growth, cultural pride, and community connection, tailored for those who aspire to lead
                        both on and off the course. With expert mentorship, inclusive values, and a legacy-driven spirit, we're not just shaping
                        golfers—we're shaping changemakers.</span>
                    </p>
                    
                    <!-- Location -->
                    <h4
                        class="text-22px font-semibold leading-1.3 pl-10px border-l-2 border-secondary-color text-heading-color my-30px">
                        Our Location
                    </h4>
                    <div class="h-360px mb-60px">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9334.271551495209!2d-73.97198251485975!3d40.668170674982946!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25b0456b5a2e7%3A0x68bdf865dda0b669!2sBrooklyn%20Botanic%20Garden%20Shop!5e0!3m2!1sen!2sbd!4v1590597267201!5m2!1sen!2sbd"
                            style="height:100%;width:100%;border:0px;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                    </div>
                
                    <!-- Floor Plans -->
                    
                </div>
            </div>
            <!-- sidebar -->
            <div class="lg:col-start-9 lg:col-span-4 pt-60px lg:pt-0">
                
                <!-- Follow Us -->
                <div class="px-5 pt-35px pb-10 xl:pl-35px xl:pr-30px mb-10 border-2 border-border-color-11">
                    <h4 class="text-lg font-semibold text-heading-color mb-25px">
                        <span class="leading-1.3 pl-10px border-l-2 border-secondary-color">Follow Us</span>
                    </h4>
                    <ul class="flex gap-x-15px pt-4">
                        <li>
                            <a href="https://www.facebook.com/"
                                class="text-sm lg:text-base w-10 h-10 bg-section-bg-1 hover:bg-secondary-color hover:text-white flex items-center justify-center"><i
                                    class="fab fa-facebook-f"></i></a>
                        </li>
                        <li>
                            <a href="https://x.com/"
                                class="text-sm lg:text-base w-10 h-10 bg-section-bg-1 hover:bg-secondary-color hover:text-white flex items-center justify-center"><i
                                    class="fab fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/"
                                class="text-sm lg:text-base w-10 h-10 bg-section-bg-1 hover:bg-secondary-color hover:text-white flex items-center justify-center"><i
                                    class="fab fa-linkedin"></i></a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/"
                                class="text-sm lg:text-base w-10 h-10 bg-section-bg-1 hover:bg-secondary-color hover:text-white flex items-center justify-center"><i
                                    class="fab fa-instagram"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="px-5 xl:px-35px pt-35px pb-10 xl:py-50px bg-primary-color relative z-0">
                    <h4 class="text-sm md:text-15px lg:text-base text-secondary-color font-bold mb-5px">
                        <span class="leading-1.3 md:leading-1.3 lg:leading-1.3">// Club Public Documents</span>
                    </h4>
                    <h4 class="text-4xl text-white font-bold mb-25px">
                        <span class="leading-1.3">Download</span>
                    </h4>
                    <form class="h-[70px] w-full leading-[70px] flex text-white">
                        <input type="text" placeholder="Search"
                            class="text-sm font-semibold h-full flex-grow pl-25px bg-primary-color-3 focus:outline-none outline-none">
                        <button type="submit"
                            class="text-sm lg:text-base h-full w-[68px] flex items-center justify-center bg-secondary-color hover:bg-secondary-color-2 flex-shrink-0">
                            <i class="fas fa-search"></i>
                        </button>
                    </form>
                    <div class="text-[120px] text-color-1 absolute right-5 top-[15%] -z-1 opacity-10 leading-1">
                        <i class="fas fa-envelope-open-text"></i>
                    </div>
                </div>
                
                <!-- Top Rated Product -->
                <div class="px-5 pt-35px pb-10 xl:pl-35px xl:pr-30px mb-10 border-2 border-border-color-11">
                    <h4 class="text-lg font-semibold text-heading-color mb-25px">
                        <span class="leading-1.3 pl-10px border-l-2 border-secondary-color">Our Latest Events &
                            Bookings</span>
                    </h4>
                    <ul>
                
                        {% for event in events %}
                        <li class="pb-25px mb-25px border-b border-white-4">
                            <div class="flex gap-x-15px xl:gap-x-5">
                                <div class="w-70px xl:w-90px flex-shrink-0">
                                    <a href="{% url 'events:event-details' event.slug %}"><img
                                            src="{% if event.author.profile_image %}{{event.author.profile_image.url}}{% else %}{% static 'images/no-image.png' %}{% endif %}"
                                            alt="{{event.title}}"></a>
                                </div>
                
                                <div>
                                    <ul class="text-10px text-ratings flex items-center mb-5px leading-1">
                                        <li>
                                            <p class="text-xs font-semibold">
                                                <span class="leading-1.8 md:leading-1.8"><i
                                                        class="far fa-calendar-alt text-secondary-color mr-5px"></i>
                                                    {{event.date_time_formatter}}</span>
                                            </p>
                                        </li>
                
                                    </ul>
                
                                    <h6 class="text-sm font-medium mb-1">
                                        <a href="{% url 'events:event-details' event.slug %}" class="leading-1.3">{{event.title}}</a>
                                    </h6>
                                    <p class="text-sm font-bold text-secondary-color">
                
                                        {% if request.user.membership_application.status == "APPROVED" %}
                                        <span class="leading-1.8">R{{event.get_discounted_cost}} </span>
                                        <del class="text-11px opacity-60 ml-1">R{{event.cost}}</del>
                                        {% else %}
                                        <span class="leading-1.8">R{{event.cost}} </span>
                                        {% endif %}
                
                
                                    </p>
                                </div>
                            </div>
                        </li>
                        {% empty %}
                        <li class="pb-25px mb-25px border-b border-white-4">
                            <p>No Other Events at The Moment</p>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                
                
                
            </div>
        </div>
    </div>
</section>

<!-- cta-section end -->
{% endblock content %}