{% extends '_base.html' %}
{% load static %}


{% block content %}
<!-- banner-section -->
<section class="banner-style-four p_relative">
    <div class="banner-carousel owl-theme owl-carousel owl-dots-none nav-style-none">
        <div class="slide-item p_relative">
            <div class="bg-layer" id="bg-layer-1" style="background-image: url(static/images/banner/banner-7.jpg);"></div>
            <div class="auto-container">
                <div class="content-box">
                    <div class="icon-box"><i class="icon-31"></i></div>
                    <span class="upper-text">Welcome To CT Black Pro</span>
                    <h2>unparalleled premium golf experience</h2>
                    <div class="btn-box"><a href="{% url 'home:about' %}" class="theme-btn btn-one">Learn More</a></div>
                </div>
            </div>
        </div>
        
    </div>
</section>
<!-- banner-section end -->


<!-- about-style-four -->
<section class="about-style-four pt_140">
    <div class="auto-container">
        <div class="sec-title mb_90 centred">
            <span class="sub-title">CT Black Pro Golf Club</span>
            <h2>The golf club was established in <br />Cape Town, Western Cape, RSA, in 2010</h2>
            <p>Lorem ipsum dolor sit amet consectetur. Nam quis bibendum lacinia eu id in. Quisque porttitor tortor
                blandit nunc sed ac id. Mattis in nunc libero viverra. Consectetur leo nibh ac at amet.</p>
        </div>
        <div class="image-box">
            <div class="experience-box">
                <div class="inner">
                    <h2>22</h2>
                    <span>Years of <br />expericence</span>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-lg-6 col-md-6 col-sm-12 image-column">
                    <figure class="image"><img src="{% static 'images/resource/about-3.jpg' %}" alt=""></figure>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 image-column">
                    <figure class="image"><img src="{% static 'images/resource/about-4.jpg' %}" alt=""></figure>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about-style-four end -->

<!-- funfact-style-two -->
<section class="funfact-style-two pt_140 pb_100">
    <div class="auto-container">
        <div class="inner-container">
            <div class="funfact-block-two">
                <div class="inner-box">
                    <div class="count-outer">
                        <span class="odometer" data-count="20">00</span><span class="symble">+</span>
                    </div>
                    <p>Tatal Golf Holes</p>
                </div>
            </div>
            <div class="funfact-block-two">
                <div class="inner-box">
                    <div class="count-outer">
                        <span class="odometer" data-count="5">00</span><span class="symble">+</span>
                    </div>
                    <p>Total Pro Members</p>
                </div>
            </div>
            <div class="funfact-block-two">
                <div class="inner-box">
                    <div class="count-outer">
                        <span class="odometer" data-count="120">00</span><span class="symble">+</span>
                    </div>
                    <p>Total Golf Areas</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- funfact-style-two end -->



<!-- chooseus-section -->
<section class="chooseus-section pt_150 pb_140 bg-color-1">
    <div class="auto-container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                <div class="image-box mr_30">
                    <div class="image-shape">
                        <div class="shape-1 z_1"></div>
                        <div class="shape-2" style="background-image: url(images/shape/shape-1.png);"></div>
                    </div>
                    <figure class="image"><img src="{% static 'images/resource/chooseus-1.png' %}" alt=""></figure>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                <div class="content_block_two">
                    <div class="content-box ml_30 mr_60">
                        <div class="sec-title mb_30">
                            <span class="sub-title">Why choose us</span>
                            <h2>Behind the Curtain with Renowned Golfers</h2>
                        </div>
                        <div class="text-box mb_30">
                            <p>Lorem ipsum dolor sit amet consectetur. Nam quis bibendum lacinia eu id in. Quisque
                                porttitor tortor blandit nunc.</p>
                        </div>
                        <div class="inner-box">
                            <div class="single-item">
                                <div class="icon-box"><i class="icon-15"></i></div>
                                <h2>100% Success Rate</h2>
                                <p>Amet minim mollit no duis deserut lamo sit enim.</p>
                            </div>
                            <div class="single-item">
                                <div class="icon-box"><i class="icon-16"></i></div>
                                <h2>The Exclusive Offers</h2>
                                <p>Amet minim mollit no duis deserut lamo sit enim.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- chooseus-section end -->


<!-- event-style-two -->
<section class="event-style-two pt_140 pb_110">
    <div class="auto-container">
        <div class="sec-title centred mb_55">
            <span class="sub-title">upcoming events</span>
            <h2>Get Ready for These Upcoming <br />Golf Events</h2>
        </div>
        <div class="inner-container">
            <div class="event-block-two">
                <div class="inner-box">
                    <figure class="image-box"><img src="{% static 'images/resource/event-4.jpg' %}" alt=""></figure>
                    <div class="content-box">
                        <ul class="post-info">
                            <li><i class="icon-17"></i>22 August</li>
                            <li><i class="icon-3"></i>6391 Elgin St. Celina</li>
                        </ul>
                        <h3><a href="event-details.html">The Sponsorship Meetup is Returning</a></h3>
                    </div>
                    <span class="price-box">$70</span>
                    <div class="btn-box"><a href="event-details.html" class="theme-btn btn-two">View Details</a></div>
                </div>
            </div>
            <div class="event-block-two">
                <div class="inner-box">
                    <figure class="image-box"><img src="{% static 'images/resource/event-5.jpg' %}" alt=""></figure>
                    <div class="content-box">
                        <ul class="post-info">
                            <li><i class="icon-17"></i>21 August</li>
                            <li><i class="icon-3"></i>6391 Elgin St. Celina</li>
                        </ul>
                        <h3><a href="event-details.html">Starter Golf Clinic and Casual Contest</a></h3>
                    </div>
                    <span class="price-box">$50</span>
                    <div class="btn-box"><a href="event-details.html" class="theme-btn btn-two">View Details</a></div>
                </div>
            </div>
            <div class="event-block-two">
                <div class="inner-box">
                    <figure class="image-box"><img src="{% static 'images/resource/event-6.jpg' %}" alt=""></figure>
                    <div class="content-box">
                        <ul class="post-info">
                            <li><i class="icon-17"></i>20 August</li>
                            <li><i class="icon-3"></i>6391 Elgin St. Celina</li>
                        </ul>
                        <h3><a href="event-details.html">Interactive Golf Play for Beginners & Experts</a></h3>
                    </div>
                    <span class="price-box">$90</span>
                    <div class="btn-box"><a href="event-details.html" class="theme-btn btn-two">View Details</a></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- event-style-two end -->


<!-- portfolio-style-two -->
<section class="portfolio-style-two pb_110 pl_70 pr_70">
    <div class="auto-container">
        <div class="sec-title mb_60">
            <span class="sub-title">Our Portfolio</span>
            <h2>Our Golfing Memories</h2>
            <a href="portfolio.html" class="theme-btn btn-one">Learn More</a>
        </div>
    </div>
    <div class="outer-container">
        <div class="row clearfix">
            <div class="col-lg-4 col-md-6 col-sm-12 portfolio-block">
                <div class="portfolio-block-one">
                    <div class="inner-box">
                        <figure class="image-box"><img src="{% static 'images/portfolio/portfolio-5.jpg' %}" alt=""></figure>
                        <div class="view-btn"><a href="{% static 'images/portfolio/portfolio-5.jpg' %}" class="lightbox-image"
                                data-fancybox="gallery"><i class="icon-32"></i></a></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 portfolio-block">
                <div class="portfolio-block-one">
                    <div class="inner-box">
                        <figure class="image-box"><img src="{% static 'images/portfolio/portfolio-6.jpg' %}" alt=""></figure>
                        <div class="view-btn"><a href="{% static 'images/portfolio/portfolio-6.jpg' %}" class="lightbox-image"
                                data-fancybox="gallery"><i class="icon-32"></i></a></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 portfolio-block">
                <div class="portfolio-block-one">
                    <div class="inner-box">
                        <figure class="image-box"><img src="{% static 'images/portfolio/portfolio-7.jpg' %}" alt=""></figure>
                        <div class="view-btn"><a href="{% static 'images/portfolio/portfolio-7.jpg' %}" class="lightbox-image"
                                data-fancybox="gallery"><i class="icon-32"></i></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- portfolio-style-two -->


<!-- faq-section -->
<section class="faq-section pt_140 pb_150">
    <div class="auto-container">
        <div class="row clearfix">
            <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                <div class="content_block_three">
                    <div class="content-box mr_30">
                        <div class="sec-title mb_60">
                            <span class="sub-title">Faq's</span>
                            <h2>Frequently Asked Questions</h2>
                            <p>Lorem ipsum dolor sit amet consectetur. Nam quis bibendum lacinia eu id in. Quisque
                                porttitor tortor blandit nunc.</p>
                        </div>
                        <ul class="accordion-box">
                            <li class="accordion block">
                                <div class="acc-btn">
                                    <h3>How To Purchase The Tickets For Groups?</h3>
                                    <div class="icon-box"><i class="icon-20"></i></div>
                                </div>
                                <div class="acc-content">
                                    <div class="text">
                                        <p>Sodales posuere facilisi metus elementum ipsum egestas amet amet mattis
                                            commodo Nunc tempor amet massa diam mauris Risus sodales interdum.</p>
                                    </div>
                                </div>
                            </li>
                            <li class="accordion block active-block">
                                <div class="acc-btn active">
                                    <h3>What Equipment Do I Need For Golfing?</h3>
                                    <div class="icon-box"><i class="icon-20"></i></div>
                                </div>
                                <div class="acc-content current">
                                    <div class="text">
                                        <p>Sodales posuere facilisi metus elementum ipsum egestas amet amet mattis
                                            commodo Nunc tempor amet massa diam mauris Risus sodales interdum.</p>
                                    </div>
                                </div>
                            </li>
                            <li class="accordion block">
                                <div class="acc-btn">
                                    <h3>Does Practicing Golf At Home Actually Work?</h3>
                                    <div class="icon-box"><i class="icon-20"></i></div>
                                </div>
                                <div class="acc-content">
                                    <div class="text">
                                        <p>Sodales posuere facilisi metus elementum ipsum egestas amet amet mattis
                                            commodo Nunc tempor amet massa diam mauris Risus sodales interdum.</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                <div class="image_block_two">
                    <div class="image-box ml_30 pl_110">
                        <figure class="image image-hov-two"><img src="{% static 'images/resource/faq-1.jpg' %}" alt=""></figure>
                        <div class="award-box">
                            <div class="icon-box"><img src="{% static 'images/icons/award-1.png' %}" alt=""></div>
                            <h4>The Exclusive Offers</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- faq-section end -->
{% endblock content %}