{% extends '_base.html' %}
{% load static %}


{% block content %}
<!-- banner-section -->
<section class="banner-style-four p_relative">
    <div class="banner-carousel owl-theme owl-carousel owl-dots-none nav-style-none">
        <div class="slide-item p_relative">
            <div class="bg-layer" id="bg-layer-1" style="background-image: url(static/images/banner/banner-8.jpg);"></div>
            <div class="auto-container">
                <div class="content-box">
                    <div class="icon-box"><i class="icon-31"></i></div>
                    <span class="upper-text">Welcome To CT Black Pro</span>
                    <h2>Driving Change, One Swing at a Time.</h2>
                    <div class="btn-box"><a href="{% url 'home:about' %}" class="theme-btn btn-one">Learn More</a></div>
                </div>
            </div>
        </div>
        
    </div>
</section>
<!-- banner-section end -->


<!-- about-style-four -->
<section class="about-style-four pt_140">
    <div class="auto-container">
        <div class="sec-title mb_90 centred">
            <span class="sub-title">CT Black Pro Golf Club</span>
            <h2>The golf club was established in <br />Cape Town, Western Cape, RSA, in 2010</h2>
            <p>Founded in Cape Town in 2010, CT Black Pro Golf Club stands as a proud symbol of excellence, inclusion, and community in
            South African golf. Dedicated to nurturing talent and celebrating diversity, the club offers a welcoming space for
            golfers of all backgrounds to refine their skills, connect through sport, and champion the spirit of unity on the
            fairway. With a commitment to professionalism and empowerment, CT Black Pro continues to shape the future of golf—one
            swing at a time.</p>
        </div>
        <div class="image-box">
            <div class="experience-box">
                <div class="inner">
                    <h2>22</h2>
                    <span>Years of <br />expericence</span>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-lg-6 col-md-6 col-sm-12 image-column">
                    <figure class="image"><img src="{% static 'images/resource/about-3.jpg' %}" alt=""></figure>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 image-column">
                    <figure class="image"><img src="{% static 'images/resource/about-4.jpg' %}" alt=""></figure>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about-style-four end -->

<!-- funfact-style-two -->
<section class="funfact-style-two pt_140 pb_100">
    <div class="auto-container">
        <div class="inner-container">
            <div class="funfact-block-two">
                <div class="inner-box">
                    <div class="count-outer">
                        <span class="odometer" data-count="20">00</span><span class="symble">+</span>
                    </div>
                    <p>Tatal Golf Holes</p>
                </div>
            </div>
            <div class="funfact-block-two">
                <div class="inner-box">
                    <div class="count-outer">
                        <span class="odometer" data-count="5">00</span><span class="symble">+</span>
                    </div>
                    <p>Total Pro Members</p>
                </div>
            </div>
            <div class="funfact-block-two">
                <div class="inner-box">
                    <div class="count-outer">
                        <span class="odometer" data-count="120">00</span><span class="symble">+</span>
                    </div>
                    <p>Total Golf Areas</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- funfact-style-two end -->



<!-- chooseus-section -->
<section class="chooseus-section pt_150 pb_140 bg-color-1">
    <div class="auto-container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                <div class="image-box mr_30">
                    <div class="image-shape">
                        <div class="shape-1 z_1"></div>
                        <div class="shape-2" style="background-image: url(images/shape/shape-1.png);"></div>
                    </div>
                    <figure class="image"><img src="{% static 'images/resource/chooseus-1.png' %}" alt=""></figure>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                <div class="content_block_two">
                    <div class="content-box ml_30 mr_60">
                        <div class="sec-title mb_30">
                            <span class="sub-title">Why choose us</span>
                            <h2>More Than a Club—A Community of Champions.</h2>
                        </div>
                        <div class="text-box mb_30">
                            <p>At CT Black Pro Golf Club, we don't just play golf—we build legacy. Since 2010, we've been committed to creating an
                            inclusive, empowering space where excellence thrives and every swing tells a story. Whether you're a seasoned pro or
                            just starting out, our club offers mentorship, camaraderie, and a shared passion for the game. Join us, and be part of a
                            movement that's reshaping golf in Cape Town and beyond.</p>
                        </div>
                        <div class="inner-box">
                            <div class="single-item">
                                <div class="icon-box"><i class="far fa-users"></i></div>
                                <h2>Inclusive Community</h2>
                                <p>Connect with golfers from diverse backgrounds in a space that celebrates unity and pride.</p>
                            </div>
                            <div class="single-item">
                                <div class="icon-box"><i class="icon-16"></i></div>
                                <h2>Exclusive Member Offers</h2>
                                <p>Enjoy special discounts on event tickets, tee times, and more—just for being part of the club.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- chooseus-section end -->

{% if events.count == 3 %}
<!-- event-style-two -->
<section class="event-style-two pt_140 pb_110">
    <div class="auto-container">
        <div class="sec-title centred mb_55">
            <span class="sub-title">upcoming events</span>
            <h2>Get Ready for These Upcoming <br />Golf Events</h2>
        </div>
        <div class="inner-container">
            
            {% for event in events %}
                
            <div class="event-block-two">
                <div class="inner-box">
                    <figure class="image-box"><img src="{% if event.image %}{{event.image.url}}{% else %}{% static 'images/no-image.png' %}{% endif %}" alt="{{event.title}}"></figure>
                    <div class="content-box">
                        <ul class="post-info">
                            <li><i class="icon-17"></i>{{event.event_startdate}}</li>
                            <li><i class="icon-3"></i>{{event.event_address}}</li>
                        </ul>
                        <h3><a href="{% url 'events:event-details' event.slug %}">{{event.title}}</a></h3>
                    </div>
                    <span class="price-box">R{{event.cost}}</span>
                    <div class="btn-box"><a href="{% url 'events:event-details' event.slug %}" class="theme-btn btn-two">View Details</a></div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- event-style-two end -->
 {% else %}
<!-- about-style-two -->
<section class="about-style-two centred pt_140 pb_140">
    <div class="auto-container">
        <div class="content-box">
            <div class="sec-title centred mb_35">
                <div class="icon-box"><i class="icon-31"></i></div>
                <span class="sub-title">Ready To CT Black Pro Golf Club Today</span>
                <h2>Welcome to CT Black Pro Golf Club</h2>
            </div>
            <p>We champion Black talent, foster mentorship, and create space for every swing to shape a legacy.</p>
            <div class="tw:flex tw:flex-wrap tw:gap-7 tw:items-center">
                <div>
                    <a href="{% url 'memberships:download-membership-rates' %}" class="theme-btn btn-one">View Our Membership
                        Rates</a>
                </div>
                <div>
                    <a href="{% url 'memberships:download-membership-form' %}" class="theme-btn btn-two">Download Membership
                        Form</a>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- about-style-two end -->
 {% endif %}


 
 {% if images.count == 3 %}  
<!-- portfolio-style-two -->
<section class="portfolio-style-two pb_110 pl_70 pr_70">
    <div class="auto-container">
        <div class="sec-title mb_60">
            <span class="sub-title">Our Portfolio</span>
            <h2>Our Golfing Memories</h2>
            <a href="{% url 'home:gallery' %}" class="theme-btn btn-one">Learn More</a>
        </div>
    </div>
    <div class="outer-container">
        <div class="tw:grid tw:md:grid-cols-2 tw:lg:grid-cols-3 tw:items-center tw:justify-center clearfix">
            {% for image in images %}
            <div class="portfolio-block">
                <div class="portfolio-block-one">
                    <div class="inner-box">
                        <figure class="image-box tw:w-80 tw:h-64 tw:overflow-hidden"><img class="tw:object-cover tw:w-80 tw:h-64" src="{{image.image.url}}" alt="{{image.title}}"></figure>
                        <div class="view-btn"><a href="{{image.image.url}}" class="lightbox-image"
                                data-fancybox="gallery"><i class="icon-32"></i></a></div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- portfolio-style-two -->
{% endif %}

<!-- cta-section -->
<section class="cta-section alternat-2 centred bg-color-2 pt_140 pb_150 mb_150">
    <div class="pattern-layer" style="background-image: url(static/images/shape/shape-14.png);"></div>
    <div class="auto-container">
        <div class="content-box">
            <div class="sec-title light mb_40">
                <span class="sub-title">our Facilities</span>
                <h2>Take Your Game To The <br />Next Level.</h2>
            </div>
            <div class="btn-box">
                <a href="{% url 'memberships:membership' %}" class="theme-btn btn-one">become a member</a>
                <a href="{% url 'home:contact' %}" class="theme-btn btn-two">Contact Us</a>
            </div>
        </div>
    </div>
</section>
<!-- cta-section end -->
{% endblock content %}