{% load static %}
{% load static tailwind_tags %}

<!-- Footer Start -->
<footer class="main-footer dark-section">
    <div class="container">
        <div class="row section-row align-items-center">
            <div class="col-lg-7">
                <!-- Section Title Start -->
                <div class="section-title">
                    <h2 class="text-anime-style-3" data-cursor="-opaque">We conduct group golf lessons & tournaments,
                        training</h2>
                </div>
                <!-- Section Title End -->
            </div>

            <div class="col-lg-5">
                <!-- Section Button Start -->
                <div class="section-btn wow fadeInUp" data-wow-delay="0.2s">
                    <a href="contact.html" class="btn-default btn-highlighted">Get Membership</a>
                </div>
                <!-- Section Button End -->
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-12">
                <!-- About Footer Start -->
                <div class="about-footer">
                    <!-- Footer Logo Start -->
                    <div class="footer-logo">
                        <img src="{% static 'images/footer-logo.svg' %}" alt="">
                    </div>
                    <!-- Footer Logo End -->

                    <!-- About Footer Content Start -->
                    <div class="about-footer-content">
                        <p>Experience World-Class Golf Training Course a Facilities at Prestigious Golf Club Institute.
                        </p>
                    </div>
                    <!-- About Footer Content End -->

                    <!-- Footer Social Link Start -->
                    <div class="footer-social-links">
                        <ul>
                            <li><a href="#"><i class="fa-brands fa-pinterest-p"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                        </ul>
                    </div>
                    <!-- Footer Social Link End -->
                </div>
                <!-- About Footer End -->
            </div>

            <div class="col-lg-3 col-md-4">
                <!-- Footer Links Start -->
                <div class="footer-contact-details footer-links">
                    <h3>Say Hello</h3>
                    <ul>
                        <li><a href="tel:123446788">+1 234 467 88</a></li>
                        <li><a href="mailto:info@ctblackpros.co.za">info@ctblackpros.co.za</a></li>
                        <li>2972 Westheimer Rd. Santa Ana, Illinois UK</li>
                    </ul>
                </div>
                <!-- Footer Links End -->
            </div>

            <div class="col-lg-2 col-md-3">
                <!-- Footer Links Start -->
                <div class="footer-links">
                    <h3>quick links</h3>
                    <ul>
                        <li><a href="index-2.html">home</a></li>
                        <li><a href="about.html">about us</a></li>
                        <li><a href="courses.html">courses</a></li>
                        <li><a href="blog.html">blogs</a></li>
                    </ul>
                </div>
                <!-- Footer Links End -->
            </div>

            <div class="col-lg-3 col-md-5">
                <!-- Footer Newsletter Box Start -->
                <div class="footer-newsletter-box footer-links">
                    <h3>Newsletters</h3>
                    <form id="latestnewsForm" action="#" method="POST">
                        <div class="form-group">
                            <input type="email" name="email" class="form-control" id="mail"
                                placeholder="Enter your email" required="">
                            <button type="submit" class="btn-default btn-highlighted">Subscribe Now</button>
                        </div>
                    </form>
                </div>
                <!-- Footer Newsletter Box End -->
            </div>
        </div>

        <!-- Footer Copyright Section Start -->
        <div class="footer-copyright">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <!-- Footer Copyright Start -->
                    <div class="footer-copyright-text">
                        <p>Copyright © 2025 All Rights Reserved.</p>
                    </div>
                    <!-- Footer Copyright End -->
                </div>

                <div class="col-md-6">
                    <!-- Footer Menu Start -->
                    <div class="footer-menu">
                        <ul>
                            <li><a href="#">Help</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Term's & Condition</a></li>
                        </ul>
                    </div>
                    <!-- Footer Menu End -->
                </div>
            </div>
        </div>
        <!-- Footer Copyright Section End -->
    </div>
</footer>
<!-- Footer End -->