{% load static %}
{% load static tailwind_tags %}
<!-- main header -->
<header class="main-header">
    <!-- header-top -->
    <div class="header-top tw:hidden tw:md:block">
        <div class="top-inner">
            <ul class="info-list">
                <li><i class="icon-1"></i>Mon-Fri 8:00 am-6:00 pm</li>
                <li><i class="icon-2"></i><a href="mailto:info@ctblackpros.co.za">info@ctblackpros.co.za</a></li>
                <li><i class="icon-3"></i>Cape Town, Western Cape, RSA</li>
            </ul>
            <div class="header-info">
                
                {% if request.user.is_authenticated %}
                    <div class="login-box p_relative pr_30 mr_30"><a href="{% url 'accounts:logout' %}">Member Logout</a></div>
                {% else %}
                    <div class="login-box p_relative pr_30 mr_30"><a href="{% url 'accounts:login' %}">Member Login</a></div>
                {% endif %}
                    
                <ul class="social-links">
                    <li><a href="{% url 'home:index' %}"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="{% url 'home:index' %}"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="{% url 'home:index' %}"><i class="fab fa-linkedin-in"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- header-lower -->
    <div class="header-lower">
        <div class="outer-container p_relative pr_70">
            <div class="outer-box">
                <div class="left-column">
                    <figure class="logo-box mr_50"><a href="{% url 'home:index' %}"><img src="{% static 'images/ct-logo.png' %}"
                                alt=""></a></figure>
                    <div class="menu-area">
                        <!--Mobile Navigation Toggler-->
                        <div class="mobile-nav-toggler">
                            <i class="icon-bar"></i>
                            <i class="icon-bar"></i>
                            <i class="icon-bar"></i>
                        </div>
                        <nav class="main-menu navbar-expand-md navbar-light clearfix">
                            <div class="collapse navbar-collapse show clearfix" id="navbarSupportedContent">
                                <ul class="navigation clearfix">
                                    <li><a href="{% url 'home:index' %}">Home</a></li>
                                    <li><a href="{% url 'home:about' %}">About</a></li>
                                    <li><a href="{% url 'home:gallery' %}">Gallery</a></li>
                                    <li><a href="{% url 'events:events' %}">Events</a></li>
                                    <li><a href="{% url 'home:contact' %}">Contact</a></li>
                                    {% if request.user.is_authenticated %}
                                    <li class="tw:md:hidden"><a href="{% url 'accounts:logout' %}">Logout</a></li>
                                    {% else %}
                                    <li class="tw:md:hidden"><a href="{% url 'accounts:login' %}">Login</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
                <div class="menu-right-content">
                    <div class="support-box mr_30"><a href="tel:2395432170108"><i class="icon-5"></i>
                            (239)-543-217-0108</a></div>
                    <div class="btn-box"><a href="{% url 'memberships:membership' %}" class="theme-btn btn-one">Join Us</a></div>
                </div>
            </div>
        </div>
    </div>

    <!--sticky Header-->
    <div class="sticky-header">
        <div class="outer-container p_relative pr_70">
            <div class="outer-box">
                <div class="left-column">
                    <figure class="logo-box mr_50"><a href="{% url 'home:index' %}"><img src="{% static 'images/ct-logo.png' %}"
                                alt=""></a></figure>
                    <div class="menu-area">
                        <nav class="main-menu clearfix">
                            <!--Keep This Empty / Menu will come through Javascript-->
                        </nav>
                    </div>
                </div>
                <div class="menu-right-content">
                    <div class="support-box mr_30"><a href="tel:2395432170108"><i class="icon-5"></i>
                            (239)-543-217-0108</a></div>
                    <div class="btn-box"><a href="{% url 'memberships:membership' %}" class="theme-btn btn-one">Join Us</a></div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- main-header end -->


<!-- Mobile Menu  -->
<div class="mobile-menu">
    <div class="menu-backdrop"></div>
    <div class="close-btn"><i class="fas fa-times"></i></div>
    <nav class="menu-box">
        <div class="nav-logo"><a href="{% url 'home:index' %}"><img src="{% static 'images/ct-logo.png' %}" alt="" title=""></a></div>
        <div class="menu-outer"><!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header--></div>
        <div class="contact-info">
            <h4>Contact Info</h4>
            <ul>
                <li>Cape Town, Western Cape, RSA</li>
                <li><a href="tel:+8801682648101">+88 01682648101</a></li>
                <li><a href="mailto:info@ctblackpros.co.za">info@ctblackpros.co.za</a></li>
            </ul>
        </div>
        <div class="social-links">
            <ul class="clearfix">
                <li><a href="{% url 'home:index' %}"><span class="fab fa-twitter"></span></a></li>
                <li><a href="{% url 'home:index' %}"><span class="fab fa-facebook-square"></span></a></li>
                <li><a href="{% url 'home:index' %}"><span class="fab fa-pinterest-p"></span></a></li>
                <li><a href="{% url 'home:index' %}"><span class="fab fa-instagram"></span></a></li>
                <li><a href="{% url 'home:index' %}"><span class="fab fa-youtube"></span></a></li>
            </ul>
        </div>
    </nav>
</div>
<!-- End Mobile Menu -->