{% load static %}
{% load static tailwind_tags %}
<!-- Header Start -->
<header class="main-header">
    <div class="header-sticky">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <!-- Logo Start -->
                <a class="navbar-brand" href="index.html">
                    <img src="{% static 'images/logo.svg' %}" alt="CT Black Pro Golf Club Logo">
                </a>
                <!-- Logo End -->

                <!-- Main Menu Start -->
                <div class="collapse navbar-collapse main-menu">
                    <div class="nav-menu-wrapper">
                        <ul class="navbar-nav mr-auto" id="menu">
                            <li class="nav-item"><a class="nav-link" href="{% url 'home:index' %}">Home</a>
                            <li class="nav-item"><a class="nav-link" href="{% url 'home:about' %}">About Us</a>
                            <li class="nav-item"><a class="nav-link" href="services.html">Services</a></li>
                            <li class="nav-item"><a class="nav-link" href="blog.html">Blog</a></li>
                            <li class="nav-item submenu"><a class="nav-link" href="#">Pages</a>
                                <ul>
                                    <li class="nav-item"><a class="nav-link" href="service-single.html">Service
                                            Details</a></li>
                                    <li class="nav-item"><a class="nav-link" href="blog-single.html">Blog Details</a>
                                    </li>
                                    <li class="nav-item"><a class="nav-link" href="courses.html">Our Courses</a></li>
                                    <li class="nav-item"><a class="nav-link" href="course-single.html">Course
                                            details</a></li>
                                    <li class="nav-item"><a class="nav-link" href="team.html">Our Team</a></li>
                                    <li class="nav-item"><a class="nav-link" href="team-single.html">Team Details</a>
                                    </li>
                                    <li class="nav-item"><a class="nav-link" href="pricing.html">Pricing Plan</a></li>
                                    <li class="nav-item"><a class="nav-link" href="testimonials.html">Testimonials</a>
                                    </li>
                                    <li class="nav-item"><a class="nav-link" href="image-gallery.html">Image Gallery</a>
                                    </li>
                                    <li class="nav-item"><a class="nav-link" href="video-gallery.html">Video Gallery</a>
                                    </li>
                                    <li class="nav-item"><a class="nav-link" href="faqs.html">FAQs</a></li>
                                    <li class="nav-item"><a class="nav-link" href="404.html">404</a></li>
                                </ul>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'home:contact' %}">Contact Us</a></li>
                            <li class="nav-item highlighted-menu"><a class="nav-link" href="book-appointment.html">Book
                                    a Visit</a></li>
                        </ul>
                    </div>

                    <!-- Header Btn Start -->
                    <div class="header-btn">
                        <a href="book-appointment.html" class="btn-default btn-highlighted">Book a Visit</a>
                    </div>
                    <!-- Header Btn End -->
                </div>
                <!-- Main Menu End -->
                <div class="navbar-toggle"></div>
            </div>
        </nav>
        <div class="responsive-menu"></div>
    </div>
</header>
<!-- Header End -->