{% load static %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% tailwind_preload_css %}
    {% tailwind_css %}
    {{form.media}}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    {% block seo %}
    <meta name="description" content="CT Black Pro Golf Club is a proudly inclusive golfing community based in Cape Town, committed to excellence, empowerment, and unity.">
    <meta name="keywords" content="">
    <meta name="author" content="CT Black Pro">
    <link rel="canonical" href="{{ request.build_absolute_uri }}" />
    <meta property="og:title" content="CT Black Pro Golf Club" />
    <meta property="og:description"
        content="CT Black Pro Golf Club is a proudly inclusive golfing community based in Cape Town, committed to excellence, empowerment, and unity." />
    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    <meta property="og:type" content="website" />
    
    <meta property="og:image"
        content="{{request.scheme}}://{{request.get_host}}{% static 'images/ct-logo.png' %}">
    <meta name="twitter:card" content="summary_large_image">

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:url" content="{{ request.build_absolute_uri }}">
    <meta name="twitter:title" content="CT Black Pro Golf Club">
    <meta name="twitter:description"
        content="CT Black Pro Golf Club is a proudly inclusive golfing community based in Cape Town, committed to excellence, empowerment, and unity.">
    <meta name="twitter:image" content="{{request.scheme}}://{{request.get_host}}{% static 'images/ct-logo.png' %}">
    <meta name="twitter:creator" content="@BBGIOfficial">
    
    <!-- Google+ / Schema.org -->
    <meta itemprop="name" content="CT Black Pro Golf Club">
    <meta itemprop="description"
        content="CT Black Pro Golf Club is a proudly inclusive golfing community based in Cape Town, committed to excellence, empowerment, and unity.">
    <meta itemprop="image" content="{{request.scheme}}://{{request.get_host}}{% static 'images/ct-logo.png' %}">
    
    <!-- Additional Meta Tags -->
    <meta property="og:locale" content="en_ZA">
    <meta property="og:site_name" content="CT Black Pro Golf Club">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Page Title -->
    <title>CT Black Pro Golf Club</title>

    {% endblock seo %}
    <!-- Favicon Icon -->
    <!-- Fav Icon -->
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    
    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&amp;display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Marcellus&amp;display=swap" rel="stylesheet">
    
    <!-- Stylesheets -->
    <link href="{% static 'css/font-awesome-all.css' %}" rel="stylesheet">
    <link href="{% static 'css/flaticon.css' %}" rel="stylesheet">
    <link href="{% static 'css/owl.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/jquery.fancybox.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/animate.css' %}" rel="stylesheet">
    <link href="{% static 'css/nice-select.css' %}" rel="stylesheet">
    <link href="{% static 'css/odometer.css' %}" rel="stylesheet">
    <link href="{% static 'css/elpath.css' %}" rel="stylesheet">
    <link href="{% static 'css/color.css' %}" id="jssDefault" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/module-css/header.css' %}" rel="stylesheet">
    <link href="{% static 'css/module-css/page-title.css' %}" rel="stylesheet">
    <link href="{% static 'css/module-css/banner.css' %}" rel="stylesheet">
    <link href="{% static 'css/module-css/about.css' %}" rel="stylesheet">
    <link href="{% static 'css/module-css/funfact.css' %}" rel="stylesheet">
    <link href="{% static 'css/module-css/chooseus.css' %}" rel="stylesheet">
    <link href="{% static 'css/module-css/event.css' %}" rel="stylesheet">
    <link href="{% static 'css/module-css/portfolio.css' %}" rel="stylesheet">
    <link href="{% static 'css/module-css/cta.css' %}" rel="stylesheet">
    <link href="{% static 'css/module-css/news.css' %}" rel="stylesheet">
    <link href="{% static 'css/module-css/footer.css' %}" rel="stylesheet">
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet">
    {% block addcss %}
    {% endblock addcss %}
</head>
<body>
    <div class="boxed_wrapper ltr">
        <!-- preloader -->
        <div class="loader-wrap">
            <div class="preloader">
                <div class="preloader-close"><i class="fal fa-times"></i></div>
                <div id="handle-preloader" class="handle-preloader">
                    <div class="animation-preloader">
                        <div class="spinner"></div>
                        <div class="txt-loading">
                            <span data-text-preloader="c" class="letters-loading">
                                C
                            </span>
                            <span data-text-preloader="t" class="letters-loading">
                                T
                            </span>
                            <span data-text-preloader="b" class="letters-loading">
                                B
                            </span>
                            <span data-text-preloader="l" class="letters-loading">
                                L
                            </span>
                            <span data-text-preloader="a" class="letters-loading">
                                A
                            </span>
                            <span data-text-preloader="c" class="letters-loading">
                                C
                            </span>
                            <span data-text-preloader="k" class="letters-loading">
                                K
                            </span>
                            <span data-text-preloader="p" class="letters-loading">
                                P
                            </span>
                            <span data-text-preloader="r" class="letters-loading">
                                R
                            </span>
                            <span data-text-preloader="o" class="letters-loading">
                                O
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- preloader end -->
        {% include 'includes/header.html' %}
        {% include 'includes/messages.html' %}
        {% block content %}
        {% endblock content %}
        
        {% include 'includes/footer.html' %}
        <!--Scroll to top-->
        <div class="scroll-to-top">
            <svg class="scroll-top-inner" viewBox="-1 -1 102 102">
                <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
            </svg>
        </div>
    </div>
    <!-- jequery plugins -->
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/owl.js' %}"></script>
    <script src="{% static 'js/wow.js' %}"></script>
    <script src="{% static 'js/validation.js' %}"></script>
    <script src="{% static 'js/jquery.fancybox.js' %}"></script>
    <script src="{% static 'js/appear.js' %}"></script>
    <script src="{% static 'js/isotope.js' %}"></script>
    <script src="{% static 'js/parallax-scroll.js' %}"></script>
    <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'js/scrolltop.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.js' %}"></script>
    <script src="{% static 'js/odometer.js' %}"></script>
    
    <!-- main-js -->
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>